.AppBar {
  height: 60px;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Logo {
  margin-right: 16px;
  margin-left: 16px;
  height: 40px;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid transparent;
}

.AddressButton {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 4px;
  color: white;
  border: 1px solid transparent;
}

.MenuIcon {
  border: 1px solid transparent !important;
}

.AddressButton:hover, .MenuIcon:hover {
  border: 1px solid #ddd !important;
  cursor: pointer;
}

.AddressButtonIcon {
  margin-right: 8px;
}

.AddressText {
  text-transform: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.AddressText span:first-child {
  font-size: 8px;
}

.AddressText span:last-child {
  font-size: 10px;
}

.Autocomplete {
  flex-grow: 1;
  margin: 0 16px;
  display: flex;
  justify-content: center;;
}

.SearchBar .MuiOutlinedInput-root {
  height: 36px;
  max-width: 900px;
  min-width: 400px;
  background-color: white;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.SearchInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgb(174, 100, 218);
}

.SearchInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(174, 100, 218);
}

.IconButton {
  border: 1px solid #ddd;
}

.IconButton:hover {
  border: 1px solid #ddd;
}

.LoginButton {
  height: 40px;
}

.LoginButton:hover {
  border: 1px solid #ddd;
}

.HoverButton:hover {
  border: 1px solid #ddd;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .SearchBar .MuiOutlinedInput-root {
      max-width: 600px;
      min-width: 400px;
  }
  
  .LoginButton {
    display: block;
  }

  .LoginIcon {
    display: none;
  }
}


@media (max-width: 830px) and (min-width: 401px) {
  .Logo {
      height: 30px;
  }

  .Toolbar {
      padding: 0 10px;
  }

  .AddressButton {
      display: none;
  }

  .SearchBar .MuiOutlinedInput-root {
      max-width: 400px;
      min-width: 100px;
  }

  .IconButton {
      height: 30px;
      width: 30px;
  }

  .LoginButton {
      display: none;
  }
  
  .LoginIcon {
    display: block;
}

  .MenuIcon,
  .AddressButtonIcon {
      height: 30px;
      width: 30px;
  }
}


@media (max-width: 400px) {
  .SearchBar .MuiOutlinedInput-root {
      max-width: 150px;
      min-width: 50px;
  }

  .AddressButton {
      display: none;
  }

  .IconButton {
      display: none;
  }

  .MenuIcon {
      display: block;
  }
}
