.banner-container {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: visible;
  background-color: #f0f0f0; 
  margin-top: 60px;
}


/* Styles for the banner images */
.banner {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

/* Styles for the active banner image */
.banner.active {
  opacity: 1;
}

/* Styles for the previous and next buttons */
.prev-button, .next-button {
  position: absolute;
  top: 0;
  bottom: 15%;
  width: 30px; 
  z-index: 10;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s, background-color 0.3s, width 0.3s, border-radius 0.3s;
}

/* Styles for the previous button */
.prev-button {
  left: 0;
  height: 50%;
  border-top-right-radius: 50px!important; 
  border-bottom-right-radius: 50px!important; 
}

/* Styles for the next button */
.next-button {
  right: 0;
  height: 50%;
  border-top-left-radius: 50px!important; 
  border-bottom-left-radius: 50px!important;  
}

/* Styles for the previous and next buttons on hover */
.prev-button:hover, .next-button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 30px; 
}

/* Styles for the arrow icon on hover */
.arrow-icon {
  opacity: 1;
  transition: opacity 0.3s;
}

/* Styles for the arrow icon on hover for previous and next buttons */
.prev-button:hover .arrow-icon, .next-button:hover .arrow-icon {
  opacity: 1;
}

/* Media query for screens with max width of 1200px */
@media (max-width: 1200px) {
  .banner-container {
    height: 300px;
  }
  .prev-button, .next-button {
    width: 25px;
  }
}

/* Media query for screens with min width of 401px and max width of 830px */
@media (min-width: 401px) and (max-width: 830px) {
  .banner-container {
    height: 200px;
  }
  .prev-button, .next-button {
    width: 20px;
    bottom: 10%;
  }
}

/* Media query for screens with max width of 400px */
@media (max-width: 400px) {
  .banner-container {
    height: 150px;
    margin-top: 30px;
  }
  .prev-button, .next-button {
    display: none; /* Hide buttons on very small screens */
  }
}