.book-description-container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 6%;
    border: 2px solid #ddd; 
  }
  
  .book-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-image {
    max-width: 100%;
    max-height: 400px;
    border: 2px solid #ccc; 
    padding: 10px; 
    box-sizing: border-box; 
  }
  
  
  .book-details-container {
    flex: 1;
  }
  
  .book-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .book-release-date,
  .book-reviews,
  .book-price,
  .book-discount,
  .book-mrp,
  .book-shipping-info {
    margin-bottom: 10px;
  }
  
  .book-price {
    font-size: 24px;
    color: #b12704;
  }
  
  .book-discount {
    font-size: 16px;
    color: #cc0c39;
  }
  
  .book-mrp {
    font-size: 16px;
    text-decoration: line-through;
    margin-bottom: 10px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px; 
  }
  
  .book-shipping-info {
    font-size: 14px;
    color: #565959;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px; 
  }
  
  
  .book-summary {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
  }
  
  .book-actions-container {
    margin-top: 20px;
  }
  
  .quantity-select {
    margin-bottom: 10px!important;
    width: 120px; 
  }
  
  .add-to-cart-button,
  .buy-now-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
  }
  
  .add-to-cart-button {
    background: #397d58 !important;
    margin-bottom: 10px!important;
    border-radius: 20px!important;
  }
  
  .buy-now-button {
    background: #c86800 !important;
    border-radius: 20px!important;
  }
  