.cart-page-container {
  padding: 20px;
  margin-top: 5%;
}

.cart-heading {
  margin-bottom: 20px;
}

.cart-table-container {
  margin-bottom: 20px;
}

.product-cell {
  display: flex;
  align-items: center;
}

.cart-book-image {
  height: 80px;
  width: auto;
  margin-right: 16px;
}

.cart-book-title {
  vertical-align: top; /* Ensures title is aligned at the top */
}

.quantity-select {
  width: 100px;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
}

.checkout-button {
  margin-top: 20px;
}

/* New styles for the delete icon */
.MuiIconButton-root {
  padding: 0;
}

.MuiSvgIcon-root {
  font-size: 1.5rem;
}

.MuiTableCell-root {
  padding: 16px; /* Ensures proper padding around table cells */
}

